<div class="matched-user">
    <h2>{{name}}</h2>
    {{!-- <input type="text" name="unmatch" value='{{name}}' id="unmatch{{name}}Input" hidden> --}}
    <input type="checkbox" name="unmatch" value='{{name}}' class="deleteBtn" id='unmatchBtn{{name}}' hidden>
    <label for='unmatchBtn{{name}}'>❌</label>
    <ul class="matchList-user-c-showList">
        {{#each favShows}}
            <li class="matchList-user-c-show">
                <img src="https://static.episodate.com/images/tv-show/thumbnail/{{this}}.jpg">
            </li>
        {{/each}}
    </ul>
</div>

      

