<main class="home-l-grid">
    <section class="home-l-userContainer">
        <section class="user-container">
            <h1 class="myprofile-header font--blue-dark">Profile</h1> 
            <h1>{{person}}!</h1>
            <p>{{about}}</p>
        </section>
            <ul class="home-user-c-showList">
                {{#each favShows}}
                    <li class="home-user-c-show">
                        <img src="https://static.episodate.com/images/tv-show/thumbnail/{{this}}.jpg">
                    </li>
                {{/each}}
        </ul>
        <div class="home-user-c-btn">
        <a href="/match/{{person}}">
            <button class="btn btn--blue btn--wide">Match</button>
        </a>
        <a href="/addShows/{{person}}">
            <button class="btn btn--blue btn--wide">Add your favorite shows to your list</button>
        </a>
        </div>
    </section>
    <section class="home-l-matchList">
        <h1 class="mymatches-header font--blue">My matches:</h1> 
        <form method="post" action="unmatchUser/{{person}}">
        <ul class="matchList-c-list">
        {{#each matches}}
            <li class="matchList-c-user">{{> matchedUser name=this.name favShows=this.favShows}}</li>
        {{/each}}
        </ul>
                    {{> unmatchPopup name=this.name}}
                    <noscript>
                        <button type="submit" id="deletebtn" class="deletebtn btn btn--red btn--wide">Unmatch with the selected user(s)</button>
                    </noscript>
        </form>
    </section>
</main>
