<main class="home-l-grid">
    <section class="home-l-userContainer">
        <p>{{person}}!</p>
        <p>Are you ready to </p>
        <a href="/match/{{person}}">
            <button>Match</button>
        </a>
        <a href="/addShows/{{person}}">
            <button>Add your favorite shows to your list</button>
        </a>
            <ul class="home-user-c-showList">
                {{#each favShows}}
                    <li class="home-user-c-show">
                        <img src="https://static.episodate.com/images/tv-show/thumbnail/{{this}}.jpg">
                    </li>
                {{/each}}
        </ul>
    </section>
    <section class="home-l-matchList">
        <form method="post" action="unmatchUser/{{person}}">
        <ul class="matchList-c-list">
        {{#each matches}}
            <li class="matchList-c-user">{{> matchedUser name=this.name favShows=this.favShows}}</li>
        {{/each}}
        </ul>
                    {{> unmatchPopup name=this.name}}
        </form>

    </section>
</main>
