<header>
    <img src="/images/logo.png" class="logo">
    <nav><img src="/images/icons/home.png" class="home-button"></nav>
</header>
<main>
  
    <div class="profile-container">
        <section class="person">
            <img src="/images/matching/placeholder-person.png" class="placeholder-person">
            <ul>
                <li class="person-name">{{name}}</li>
                <li class="person-age">{{age}}</li>
                <li class="person-about">{{about}}</li>
            </ul>
        </section>
        <section class="shows">
            <h2>Shows you both watch</h2>
            <ul class="show-list">
                {{#each shows}}
                    <li>{{> similairShow show=this}}</li>
                {{/each}}

            </ul>
        </section>
    </div>
    <div class="match-buttons">
        <form action="/match/{{userName}}" method="GET">
            <button type="submit" name="badMatch" value="{{name}}" class="btn"><img src="/images/icons/x-mark.png" alt="x-icon"></button>
        </form>
        <form action="/matchList/{{userName}}" method="POST">
            <button type="submit" name="goodMatch" value="{{name}}" class="btn"><img src="/images/icons/check-mark.png" alt="checkmark-icon"></button>
        </form>
    </div>
</main>



